.project-section-container {
  display: flex;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  justify-content: space-between;
  overflow: auto;
  flex: 1 1 auto;
}

.project-container {
  border: 3px solid var(--primary);
  border-radius: 12px;
  margin-bottom: 20px;
  width: 500px;
}

.project-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-top: 25px;
  padding-bottom: 0;
  padding-right: 15px;
  padding-left: 20px;
  column-gap: 30px;
}

.proj-img-and-details {
  display: flex;
  align-items: center;
  gap: 20px;
}

.project-details > p {
  margin-bottom: 5px;
}

.project-buttons > div {
  font-size: 15px;
  border-radius: 50px;
  background-color: var(--secondary);
  text-align: center;
  border: 2px solid var(--accent);
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 100px;
  margin-bottom: 10px;
  justify-self: end;
  cursor: pointer;
}

.project-buttons > div:hover {
  background-color: var(--accent);
}

.project-name {
  font-size: 25px;
  font-weight: 550;
}

.project-status {
  font-size: 18px;
}

img {
  width: 75px;
}

.bottom-border {
  background-color: var(--primary);
  border-radius: 0 0 12px 12px;
  padding: 5px;
  border: 0px solid var(--primary);
}

.project-notes {
  font-size: 18px;
  padding: 20px;
}

.add-project-button {
  font-size: 20px;
  border: 3px solid var(--accent);
  border-radius: 10px;
  padding: 10px 30px;
  cursor: pointer;
  background-color: var(--secondary);
}

.add-project-button:hover {
  background-color: var(--accent);
}

.filter-buttons > p {
  margin-top: 40px;
}

.filter-buttons > p {
  font-size: 21px;
  text-align: center;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 10px;
}

.filter-buttons > button {
  display: block;
  font-size: 18px;
  padding: 5px 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--main-bg);
}

.all-btn {
  border: 2px solid var(--primary);
}

.all-btn:hover {
  background-color: var(--primary);
  color: var(--main-bg);
}

.planned-btn {
  border: 2px solid var(--accent);
}

.planned-btn:hover {
  background-color: var(--secondary);
}

.ongoing-btn {
  border: 2px solid var(--accent);
}

.ongoing-btn:hover {
  background-color: var(--secondary);
}

.status-icon {
  padding: 5px;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  display: inline-block;
  margin-right: 5px;
  border: 2px solid var(--primary);
}

.ongoing {
  background-color: var(--accent);
}

.planned {
  background-color: var(--secondary);
}

.no-projects {
  display: flex;
  justify-content: center;
  align-items: center;
}

.starting-message {
  font-size: 20px;
  text-align: center;
  width: 500px;
  color: black;
  font-style: italic;
  padding-top: 5px;
}

.no-projects-emphasis {
  display: block;
  font-weight: 600;
  font-size: 23px;
  color: var(--primary);
}

.starting-message > span {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 3px solid var(--accent);
  padding: 20px;
  margin-left: auto; /* Add this */
  margin-right: auto; /* Add this */
  margin-top: 10px;
  background-color: var(--main-bg);
}

form > h1 {
  text-align: center;
}

form > input {
  font-size: 18px;
  border-radius: 10px;
  padding: 10px;
  border-color: var(--primary);
}

form > select {
  font-size: 18px;
  border-radius: 10px;
  padding: 10px;
  border-color: var(--primary);
}

form > label {
  font-size: 18px;
}

form > button {
  font-size: 18px;
  border: 2px solid var(--accent);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--secondary);
}

form > button:hover {
  background-color: var(--accent);
}

.project-notes-input {
  margin-bottom: 10px;
  height: 80px;
  font-size: 18px;
  border-radius: 10px;
  padding: 5px;
  resize: none;
}

.delete-project-btn,
.edit-status-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bx-trash-x,
.bx-edit-alt,
.bx-save {
  font-size: 25px;
  color: black;
  padding-top: 2px;
}

.edit-input {
  font-size: 18px;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
}

textarea {
  resize: none;
  border-color: var(--primary);
}

.project-info {
  display: none;
}
