body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: var(--primary);
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.title {
  font-size: 23px;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  color: var(--main-bg);
}

.date {
  font-size: 20px;
  font-weight: 600;
  color: var(--main-bg);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-module {
  border: 3px solid var(--accent);
  border-radius: 12px;
  width: 800px;
  background-color: #f6f6f7;
  height: 530px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  overflow-x: hidden;
  margin-top: 10px;
}

.project-list {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #d9d9d9 #f6f6f7;
  padding-right: 15px;
}

nav {
  border: none;
  border-radius: 12px 12px 0 0;
  margin-bottom: 30px;
}

ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 12px 12px 0 0;
}

li {
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding: 20px 0;
  border-style: none;
  font-size: 25px;
  border-left: 3px solid var(--accent);
}

li:hover:not(.isSelected) {
  background-color: var(--accent);
}

.isNotSelected {
  border-bottom: 3px solid var(--accent);
  background-color: var(--secondary);
  border-left: none;
}

.isSelected {
  background-color: #f6f6f7;
  border-bottom: none;
}

.stitchCounterSelected {
  border-left: 3px solid var(--accent);
  border-right: 3px solid var(--accent);
}

.aboutSelected {
  border-left: 3px solid var(--accent);
}

.bottom-design {
  background-color: var(--secondary);
  padding: 8px;
  border-radius: 0 0 12px 12px;
  border-top: 3px solid var(--accent);
  width: 100%;
  z-index: 10;
}

.added-project-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.added-message {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 600;
  font-style: italic;
  color: var(--main-bg);
}

.hide {
  display: none;
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  .main-module {
    width: 90%;
    height: 100%;
    padding: 0;
  }

  .title,
  .date {
    font-size: 18px;
  }

  ul {
    flex-direction: column;
    font-size: 18px;
    padding: 0;
    margin: 0;
  }

  li {
    font-size: 18px;
    padding: 0;
  }

  .project-section-container {
    padding: 10px;
    flex-direction: column;
    justify-content: center;
  }

  form {
    width: 60%;
  }

  .user-counter-input,
  .counter-buttons {
    flex-direction: column;
  }

  .counter-buttons {
    gap: 0;
  }

  .stitch-counter-message {
    font-size: 18px;
  }

  .about-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}
