body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #fff;
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.title {
  font-size: 23px;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  color: black;
}

.date {
  margin-bottom: 23px;
  font-size: 20px;
  font-weight: 600;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-module {
  border: 3px solid black;
  border-radius: 12px;
  width: 800px;
  background-color: #f6f6f7;
  height: 530px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
  overflow-x: hidden;
}

.project-list {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #d9d9d9 #f6f6f7;
  padding-right: 15px;
}

nav {
  border: none;
  border-radius: 12px 12px 0 0;
  margin-bottom: 30px;
  background-color: #d9d9d9;
}

ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 12px 12px 0 0;
}

li {
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding: 20px 0;
  border-style: none;
  font-size: 25px;
}

.isNotSelected {
  border-bottom: 3px solid black;
  border-left: 3px solid black;
}

.isSelected {
  background-color: #f6f6f7;
  border-radius: 12px 0 0;
}

.section-container {
  display: flex;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  justify-content: space-between;
  overflow: auto;
  flex: 1 1 auto;
}

.project-container {
  border: 3px solid black;
  border-radius: 12px;
  margin-bottom: 20px;
  width: 500px;
}

.project-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-top: 25px;
  padding-bottom: 0;
  padding-right: 15px;
  padding-left: 20px;
  column-gap: 50px;
}

.proj-img-and-details {
  display: flex;
  align-items: center;
  gap: 20px;
}

.project-details > p {
  margin-bottom: 5px;
}

.project-buttons > div {
  display: block;
  font-size: 15px;
  border-radius: 50px;
  background-color: #d9d9d9;
  text-align: center;
  border: 2px solid black;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 100px;
  margin-bottom: 10px;
  justify-self: end;
}

.project-name {
  font-size: 25px;
  font-weight: 550;
}

.project-status {
  font-size: 18px;
  color: #626162;
}

img {
  width: 80px;
}

.bottom-border {
  background-color: #d9d9d9;
  border-radius: 0 0 12px 12px;
  margin: 0;
  padding: 7px;
}

.hide {
  display: none;
}

.project-notes {
  font-size: 18px;
  padding: 20px;
}

.add-project-button {
  font-size: 20px;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px 30px;
  cursor: pointer;
  background-color: #eaeaea;
}

.bottom-design {
  background-color: #d9d9d9;
  padding: 8px;
  border-radius: 0 0 12px 12px;
  border-top: 3px solid black;
  width: 100%;
  z-index: 10;
}

.filter-buttons > p {
  margin-top: 40px;
}

.filter-buttons > p {
  font-size: 21px;
  text-align: center;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 10px;
}

.filter-buttons > button {
  display: block;
  font-size: 18px;
  border: 3px solid black;
  padding: 5px 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #eaeaea;
}

.status-icon {
  padding: 5px;
  background-color: #eaeaea;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  display: inline-block;
  margin-right: 5px;
  border: 2px solid black;
}

.ongoing {
  background-color: #626162;
  border: 2px solid black;
}

.planned {
  background-color: #eaeaea;
}

.no-projects {
  display: flex;
  justify-content: center;
  align-items: center;
}

.starting-message {
  font-size: 20px;
  text-align: center;
  width: 500px;
  font-weight: 600;
  font-style: italic;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 3px solid black;
  padding: 20px;
  margin-left: auto; /* Add this */
  margin-right: auto; /* Add this */
  margin-top: 20px;
}

form > h1 {
  text-align: center;
}

form > input {
  font-size: 18px;
  border-radius: 10px;
  padding: 10px;
}

form > select {
  font-size: 18px;
  border-radius: 10px;
  padding: 10px;
}

form > label {
  font-size: 18px;
}

form > button {
  font-size: 18px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #eaeaea;
}

.project-notes-input {
  margin-bottom: 10px;
  height: 80px;
  font-size: 18px;
  border-radius: 10px;
  padding: 5px;
  resize: none;
}

.delete-project-btn,
.edit-status-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bx-trash-x,
.bx-edit-alt,
.bx-save {
  font-size: 25px;
  color: black;
  padding-top: 2px;
}

.added-project-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.added-message {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 600;
  font-style: italic;
  color: black;
}

.edit-input {
  font-size: 18px;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
}

textarea {
  resize: none
}

.project-info {
  display: none;
}