* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.title,
.date {
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  margin: 30px 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-module {
  border: 3px solid black;
  border-radius: 12px;
  width: 800px;
  background-color: #f6f6f7;
}

nav {
  border: none;
  border-radius: 12px 12px 0 0;
  margin-bottom: 30px;
  background-color: #d9d9d9;
}

ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 12px 12px 0 0;
}

li {
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding: 20px 0;
  border-style: none;
  font-size: 25px;
}

.isNotSelected {
  border-bottom: 3px solid black;
  border-left: 3px solid black;
}

.section-container {
  display: flex;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 20px;
  justify-content: space-between;
}

.project-container {
  border: 3px solid black;
  border-radius: 12px;
  margin-bottom: 20px;
}

.project-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-top: 25px;
  padding-bottom: 0;
  padding-right: 15px;
  padding-left: 20px;
  column-gap: 50px;
}

.proj-img-and-details {
  display: flex;
  align-items: center;
  gap: 20px;
}

.project-details > p {
  margin-bottom: 5px;
}

.project-buttons > div {
  display: block;
  font-size: 15px;
  border-radius: 50px;
  background-color: #d9d9d9;
  text-align: center;
  border: 2px solid black;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 100px;
  margin-bottom: 10px;
  justify-self: end;
}

.project-name {
  font-size: 25px;
  font-weight: 550;
}

.project-status {
  font-size: 18px;
  color: #626162;
}

img {
  width: 80px;
}

.bottom-border {
  background-color: #d9d9d9;
  border-radius: 0 0 12px 12px;
  margin: 0;
  padding: 7px;
}

.hide {
  display: none;
}

.project-notes {
  padding: 20px;
}

.add-project-button {
  font-size: 25px;
  border: 3px solid black;
  border-radius: 10px;
  padding: 5px 25px;
  margin-bottom: 40px;
  cursor: pointer;
}

.bottom-design {
  background-color: #d9d9d9;
  padding: 8px;
  border-radius: 0 0 12px 12px;
  border-top: 3px solid black;
}

.filter-buttons > p {
  font-size: 21px;
  text-align: center;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 10px;
}

.filter-buttons > button {
  display: block;
  font-size: 18px;
  border: 3px solid black;
  padding: 5px 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  border-radius: 10px;
  cursor: pointer;
}
